/* General rules */
html {
  font-family: 'Verdana', sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

h3 {
  font-size: 21px;
  color: gray;
}

a {
  font-size: 16px;
  color: aquamarine;
}

/* Video rules */
#video-container {
  margin-top: 1.2rem;
}

/* Coming soon rules */
#coming-soon-container {
  margin-top: 1.5rem;
}

/* Footer rules */
footer {
  margin-right: 1rem;
  text-align: right;
  display: flex;
  justify-content: right;
}

footer h3 {
  width: fit-content;
}